@import url('https://fonts.googleapis.com/css2?family=Asap&family=Pacifico&display=swap');

:root {
    --main-section-color: rgb(247, 247, 247);
    --title-font: 'Pacifico', cursive;
}

html, body, .content {
    height: 100%;
    margin: 0;
}

#content {
    height: 100%;
    display: grid;
    grid-template-rows: 10rem 50rem 2rem;
}

.header {
    grid-row: 1/2;
    background-color: var(--main-section-color);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr;
}

.header .title {
    font-size: 4.4rem;
    font-family: var(--title-font);
    display: flex;
    justify-content: center;
    margin-top: -1rem;
}

.header .buttons {
    grid-row: 2/3;
    display: flex;
    justify-content: center;
}

.buttons .btn {
    width: 7rem;
    height: 100%;
    background-color: orange;
}

.header .placeholder {
    background-color: var(--main-section-color);
    padding: 0.5rem;
    border-radius: 400rem;
}

.header .placeholder:hover {
    background-color: rgb(169, 196, 187);
}

.main {
    grid-row: 2/3;
    background-color: var(--main-section-color);
    font-family: var(--title-font);
}

.footer {
    grid-row: 3/4;
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer .placeholder {
    background-color:rgb(199, 199, 199);
    margin-left: 1%;
    font-size: 0.8rem;
}