@import url('https://fonts.googleapis.com/css2?family=Asap&family=Karla&family=Pacifico&display=swap');


:root {
    --main-section-color: rgb(247, 247, 247);
    --title-font: 'Pacifico', cursive;
    --content-font: 'Karla', sans-serif;
}

html, body, .content {
    height: 100%;
    margin: 0;
}

#content {
    height: 100%;
    display: grid;
    grid-template-rows: 10rem 50rem 2rem;
}

.header {
    grid-row: 1/2;
    background-color: var(--main-section-color);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr;
    border-bottom: 2px solid black;
}

.header .title {
    font-size: 4.4rem;
    font-family: var(--title-font);
    display: flex;
    justify-content: center;
    margin-top: -1rem;
}

.header .buttons {
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    height: 100%;
}

.buttons .btn {
    box-sizing: border-box;
    width: 10rem;
    height: 100%;
    background-color: orange;
    border-radius: 0.6rem 0.6rem 0rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--content-font);
    border: 2px solid black;
    border-bottom: 0cap;
    font-size: 1.2rem;
    transition: 0.2s;
    box-sizing: border-box;
    margin: 0 0.9rem;
}

.active {
    box-sizing: border-box;
    cursor: pointer;
    width: 15rem;
    margin: 0 0.6rem;
    transition: 0.2s;
    transition-timing-function: cubic-bezier(0.1 0.9);
}

.header .placeholder {
    background-color: var(--main-section-color);
    padding: 0.5rem;
    border-radius: 400rem;
}

.header .placeholder:hover {
    background-color: rgb(169, 196, 187);
}

.main {
    background-color: var(--main-section-color);
    font-family: var(--title-font);
    background: url('pexels-lukas-1352296.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer .placeholder {
    background-color:rgb(199, 199, 199);
    margin-left: 1%;
    font-size: 0.8rem;
}

.home-content {
    height: 35rem;
    width: 50rem;
    background-color: var(--main-section-color);
    border-radius: 1.2rem;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7rem 5fr;
}

.menu-content {
    height: 50%;
    width: 50%;
    background-color: red;
}

.contact-content {
    height: 50%;
    width: 50%;
    background-color: yellow;
}

.titleContainer  h1 {
    margin: 0ch;
    font-size: 4rem;
    align-self: center;
}

.titleContainer {
    grid-row: 1/2;
}

.titleContainerBottom {
    grid-row: 2/4;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: 1fr 5rem;
}

.bulletPointsSection {
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.bulletPointsSection ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.visitUs {
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 1rem;
    font-size: 1.5rem;
    grid-column: 2/3;
    grid-row: 2/3;
}

ul {
    margin: 0;
}

.imageContainer {
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    height: 15rem;
    width: 15rem;
    border-radius: 0.6rem;
    border: 2px solid black;
}